@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #008037;
  --primary-color-dark: #122b5b;
  --secondary-color: #faf9fe;
  --background-color: #314c53;
  --text-dark: #0f172a;
  --text-light: #314c53;
  --white: #ffffff;
  --link-color: #bbdec6;
  --max-width: 1200px;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/* TODOS OS CONTAINERS */
.section-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

/* CABEÇALHO */

.header {
  background-color: var(--white);

}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;

}

.nav-header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);

}

.nav-logo a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);


}

.ul-links {

  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--secondary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);

}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
}

.ul-links.open {
  transform: translateY(0);
}

.link a {
  color: var(--text-dark);
  font-size: 20px;

}

.link a:hover {
  color: var(--primary-color);
}

#demofree, #fale  {
  color: var(--white);
}


.btn {
  padding: 8px;
  outline: none;
  border: none;
  font-size: 12px;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--text-dark);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}


.header__container {
  display: grid;
  gap: 2rem;

}

.header__image img {
  max-width: 500px;
  margin: auto;

}

.header-descricao-introducao h4 {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--text-dark);
  display: none;
}

.header-descricao-introducao .section-header {
  font-size: 3.4rem;
  font-weight: 700;
  display: none;
}

.header-descricao-introducao p {
  margin-bottom: 2rem;
  color: var(--text-light);
  display: none;
}

/* HEADER INTRODUCAO */
/* porque nossos produto é essencial ? */

.section-header {
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
  color: var(--text-dark);

}

.section-header::after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
}

.afft::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 140px;
  height: 3px;
  background-color: var(--background-color);

}

.segmento-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

.radiusImg {
  border-radius: 10px 60px 10px 60px;
}

/* ************** */
a {
  text-decoration: none;
  white-space: nowrap;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* todas as img */
img {
  display: flex;
  width: 100%;
}

.phoneSistem{
   display: none;
}

.imgIntroducao{
  display: flex;
}

hr {
  width: 50%;
  margin: auto;
}

.box-casoUso-descricao>hr {
  width: 90%;
  margin: 0;

}

.box-card-segmento {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  width: 100%;
  gap: 2rem;

}

.segmento-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  align-items: start;
  gap: 1rem;

}

.segmento-card span {
  padding: 11px 20px;
  font-size: 2rem;
  color: var(--primary-color-dark);
  border: 2px solid var(--primary-color-dark);
  border-radius: 100%;
}

.segmento-card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.segmento-card p {
  color: var(--text-light);
}

.box-card-funcionalidade {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.box-img-title-card {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
}

.box-img-title-card .class__bg {
  position: absolute;
  max-width: 175px;
  top: -3rem;
  right: -1rem;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}

.box-img-title-card:hover .class__bg {
  opacity: 0.5;
}

.box-img-title-card:hover {
  transform: translateY(-10px);
}

.box-funcionalidade-h4-a>a {
  color: var(--link-color);
}


.box-funcionalidade-h4-a {
  flex: 1;
  padding: 1rem;
  background-color: var(--primary-color-dark);
  color: var(--white);
}

.box-funcionalidade-h4-a h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 500;
}


.casoUso-container .section-header::after {
  left: 50%;
  transform: translateX(-50%);
}

.box-casoUso {
  margin-top: 4rem;
  display: grid;
  align-items: center;
}

.box-casoUso-img-descricao {
  height: 100%;
  display: grid;
  align-items: center;
}

.box-casoUso-img-descricao img {
  height: 100%;
  object-fit: cover;
}

.box-casoUso-descricao {
  padding: 2rem 1rem;
}

.box-casoUso-descricao h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.box-casoUso-descricao h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.box-casoUso-descricao p {
  margin-block: 1rem;
  color: var(--text-light);
}

.trainer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trainer__socials a {
  font-size: 1.2rem;
  color: var(--text-light);
}

.trainer__socials a:hover {
  color: var(--primary-color);
}


.api-container .section-header::after {
  left: 50%;
  transform: translateX(-50%);
}

.box-api {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.box-h4-img-p {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.box-card {
  flex: 1;
  margin-bottom: 2rem;
}

.box-card img {
  max-width: 70px;
  margin-inline: auto;
  margin-bottom: 1rem;
}

.box-card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.box-card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.box-card hr {
  margin-bottom: 1rem;
}

.swiper {
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

/* EXPERIMENTE GRÁTIS */

.demofree-container{
  display: grid;
  justify-content: space-around;
  align-items: center;
  width: 70vw;

}

.demo-container {
  background: radial-gradient(circle at 50% 50%, #09163e 20%, #000);
  display:flex;
 align-items: center;
 flex-direction: column;
 font-family: 'Palanquin Dark', sans-serif;
 border-radius: 20px;
 background-image: url(./assets/rm378-03.jpg);
  background-size: cover;

}

.titledemo{
 color: #ffffff;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 360px;
 text-align: center;
 
}

.xpFreenone{
  font-size:22px;
  text-align: center;
  display: block;
  color: #ffffff;
}
.xpFree{
  font-size:15px;
  display: none;
}

.preenchaosDados{
  font-size: 24px;
  color: #ffff;
}
.cardLoginDemo > hr{
  margin: 0 auto ;
  width: 60%;
  height: 1px;
  opacity: 0.5;
}
 
.cardLoginDemo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px rgba(255, 255, 255, 0.501);
  padding: 30px 50px 50px;
  border-radius: 20px ;
}
.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;  
}
 
.numero, .msg{
  color: var(--white);
  margin-top: 10px;
  font-weight: lighter;
}

span{
  color:var(--text-light);
  
}

textarea{
  width: 280px;
  height: 130px;
  border: none;
  resize: none;
  border-radius: 10px;
}

textarea:focus{
  outline: none;
}

.inputNumer{
  background: white;
  display: flex;
  padding: 5px;
  border-radius: 10px;
}
.email{
  margin-top: 10px;
}

input{
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-left: 3px;
}
.svg{
  width: 25px;
}

input:focus {
  outline: none;
}


.enviarFree{
  width: 160px;
  padding: 10px;
  background: #faf9fe;
  border: none;
  color: #0f172a;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.enviarFree:active{
    scale: 1.1;
}



/* FINAL */

.footer {
  background-color: var(--secondary-color);
}

.footer-container {
  display: grid;
  gap: 2rem;
}

.footer-logo a {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer-logo img {
  max-width: 40px;
}

.footer-box p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.footer-redesSocial {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-redesSocial a {
  padding: 5px 10px;
  font-size: 1.2rem;
  color: var(--text-light);
  border-radius: 100%;
  border: 1px solid var(--text-light);
}

.footer-redesSocial a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.footer-box h4 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.footer-links a {
  display: block;
  margin-bottom: 1rem;
  color: var(--text-light);
}

.footer-links a:hover {
  color: var(--primary-color);
}

.footer-rodape {
  padding: 1rem;
  font-size: 0.8rem;
  color: var(--text-light);
  text-align: center;
}



@media (width > 480px) {

  .box-card-funcionalidade {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }

  .box-casoUso {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .box-casoUso-img-descricao:nth-child(3) {
    grid-area: 2/2/3/3;
  }

  .box-api {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }

  .footer-container {
    grid-template-columns: 2fr 1fr;
  }

  .demofree-container{
       display: flex;
       justify-content: space-around;
       align-items: center;
       background: radial-gradient(circle at 50% 50%, #425c6c 20%, #577081);
       border-radius: 10px 100px; 
       background-image: url(./assets/rm378-03.jpg);
       background-size: cover;


  }

  .cardLoginDemo{
  background: transparent;
    /* Cor de fundo com opacidade para efeito de vidro */
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px);
  }


 .demo-container {
 background: radial-gradient(circle at 50% 50%, #425c6c 20%, #00000021);
    display:flex;
   border-radius: 20px; 

  }
  .cardLoginDemo{
    display: flex;
  }
   
  .xpFree{
    font-size:55px; 
    display: flex;
  }
  
  .xpFreenone{
    display: none;
  }
    
  .imgIntroducao{
    display: none;
  }

  .phoneSistem{
    display: block;
  }

  .header-descricao-introducao .section-header{
    display: flex;
  }
  .header-descricao-introducao p {
    display: flex;
  }

  .btn{
    padding: 12px;
    font-size: 18px;
  }

}

@media (width > 768px) {


  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav-header {
    padding: 0;
    background-color: transparent;
  }

  .ul-links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;

  }

  .header__container {
    padding-block: 0;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header-descricao-introducao {
    padding-block: 5rem;
    grid-area: 1/1/2/2;
  }

  .segmento-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    border:  solid darkgreen;
    align-items: center;
  }

  .box-card-segmento {
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

  }


  .box-card-funcionalidade {
    grid-template-columns: repeat(4, 1fr);
  }

  .box-casoUso {
    grid-template-columns: repeat(3, 1fr);
  }

  .box-casoUso-img-descricao:nth-child(3) {
    grid-area: unset;
  }

  .box-casoUso-descricao {
    padding: 2rem;
  }

  .box-api {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-container {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer-box:first-child {
    grid-column: 1/3;
  }
 
  
}

@media (width > 1024px) {

  .box-card-funcionalidade {
    gap: 2rem;
  }

  .box-api {
    gap: 2rem;
  }

  .box-h4-img-p {
    padding: 2rem;
  }
   
}

@media (width < 1024px) {
  
  .xpFreenone{
    font-size:22px;
    text-align: center;
    display: block;
    color: #ffffff;
  }
  .xpFree{
    font-size:15px;
    display: none;
  }

}

@media (width < 750px){
  
  .imgIntroducao{
    display: block;
  }

  .phoneSistem{
    display: none;
  }

  .header-descricao-introducao .section-header{
    display: none;
  }
  .header-descricao-introducao p {
    display: none;
  }
}
